<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p>This website was created for the purposes of learning node js. It uses APIs like mapbox.com and weatherctack.com</p>
    </div>
    
    {{>footer}}
</body>

</html>